@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* sass Template */
@import './include/variables.scss';
@import './include/global.scss';
@import './include/typography.scss';
@import './include/color.scss';


.landing-page {
   height: calc(100vh - 85px);
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url('../assests/bg-landing-page.jpg');
   // background-repeat: repeat;
   background-size: cover;
   position: relative;
   background-color: #eceff1;
}

.landing-page-content {
   width: 100%;
   height: 100%;
   display: flex;
   z-index: 2;
}

.landing-page-content>div {
   padding: 10px 20px;
   overflow: hidden;
   width: auto;
   transition: width 4s ease;
}

 .landing-page-content>div .content {
    display: none;
 }

 .landing-page-content>div.full-width .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

.full-width {
   width: 100% !important;
}
@keyframes expandWidth {
   0% {
      width: auto;
   }
   100% {
      width: 100%;
   }
}

.swiper {
   width: 100%;
   height: 400px;
}

.mobile-card {
   position: relative;
}

.mobile-card img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   z-index: -1;
}

.mobile-card .mobile-info {
   position: absolute;
   z-index: 100;
   bottom: -100%;
   left: 50%;
   transform: translateX(-50%);
   background-color: #eceff1;
   padding: 10px;
   transition: 0.5s;
   border-radius: 8px;
   width: 80%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mobile-card .mobile-info i {
   color: yellow;
}
.mobile-card:hover .mobile-info {
   bottom: 8px;
}

